Package: udm-kernel-tools-dbgsym
Package-Type: ddeb
Source: udm-kernel-tools
Version: 1.1.4
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Fabian Mastenbroek <mail.fabianm@gmail.com>
Installed-Size: 18
Depends: udm-kernel-tools (= 1.1.4)
Section: debug
Priority: optional
Description: debug symbols for udm-kernel-tools
Build-Ids: 3162b9456803bebe287628e1d15a48f9d8bfaa34
